/* Sebastian Reategui */

body { 
  background: url(img/David-Puentes-22-min.jpg) no-repeat right center fixed; 

    font: 15px / 1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif; 
    color:white;
}

a {
    color:white;
}
a:hover {
    color:white;
}
footer {
    font-size:0.75rem;
    margin:1rem 0;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* NAV */
.nav {
    text-shadow: 1px 1px 0px rgba(150, 150, 150, 0.5);
    margin-left:2rem;
}
@media (max-width: 575px) { 
    .nav {
        margin-left:0;
    }
    .nav-item {
        margin-top:0.65rem;
    }
    .nav-item.nombre {
        margin-top:0;
    }
}
.nav-item.active {
    background:rgba(255,255,255,0.25);
    color:white;
    text-shadow:none;
    border-radius:.25rem;
}
.nombre {
    font-weight:600;
    letter-spacing:-1px;
    font-size:1.5rem;
    white-space:nowrap;
}

.c-intro {
    max-width:35rem;
}
.c-intro.card-body {
    background:rgba(52, 58, 64,.5);
}
.c-intro .card,
.c-intro a {
    box-shadow:0 0 .25em rgba(255,255,255,.25);
    border-color:rgba(255,255,255,.15);
    background:rgba(52, 58, 64,.5);
}

/* IMAGENES */
.imagenes img {
}
.img-tall {
    width:50%;
    clear:both;
}
@media (max-width:767px) {
    .imagenes img {
        width:100%;
    }
}

 w-100 mt-2 mb-2
.btn-contacto {
    width:100% !important;
    margin:.5rem 0;
}