body {
    background-color:white;
}
nav {
    background-color:#0b121a;
}


/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}




.nav-subcat {
  /* Bootstrap class "fixed-top" */
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;
  z-index: 1030;
  
  font-size:.8rem;
}

.nav-subcat-content {
  margin-top:30px;
  margin-left:200px;
}

.tab-pane-initial {
 display:block !important;
  color:red;
}

.imagenes img {
  width:700px;
}