body {
    background-color:#EEEEEE;
}
nav {
    background-color:#0b121a;
}


/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 50px;
}

footer {
  padding: 30px 0;
}



/* NAV SUBCAT */
/* for: desktop */
.nav-subcat {
  text-shadow: 1px 1px 0px rgba(150, 150, 150, 0.5);
  margin-top:1rem;
  
  /* Bootstrap .fixed-top */
  position: fixed;
  top:70px;
  right:0;
  left:70px;
  z-index: 1030;
}
.nav-subcat a {
  color:white;
}
.nav-subcat .dropdown-toggle {
  font-size:1.5rem;
  color:white;
  background:rgba(255,255,255,0.3);
  border:none;
  border-radius:.5rem;
  padding:.75rem 1.25rem;
}
.nav-subcat .dropdown-toggle:focus {
  border:none;
  outline:none;
}
.nav-subcat .dropdown-toggle:hover {
  cursor:pointer;
  text-decoration:underline;
}
.nav-subcat .dropdown-menu {
  background:rgba(255,255,255,0.3);
  border:none;
  margin-top:.5rem;
}
.nav-subcat .dropdown-item {
}
/* for: mobile */
@media (max-width:575px) {
  .nav-subcat {
    top:auto;
    left:20px;
    bottom:70px;
  }
  .nav-subcat .dropdown-toggle {
    font-size:1rem;
  }
}



/* JUMP TO TOP */
/* Position desktop: on the left. */
.jump-to-top {
  /* Bootstrap .fixed-top
      [MODIFIED] */
  position: fixed;
  top:auto;
  bottom:70px;
  left:50px;
  right:auto;
  z-index: 1030;
}
.jump-to-top a {
  background:rgba(255,255,255,0.25);
  color:white;
  -webkit-filter: drop-shadow( 1px 1px 1px #000 );
  filter: drop-shadow( 1px 1px 1px #000 );
  border-radius:.25rem;
  padding:1.5rem 1rem;
  padding-bottom:.75rem;
}

/* Position mobile: in the centre. */
@media (max-width:575px) {
  .jump-to-top {
    width:100%;
    left:auto;
    bottom:75px;
    text-align:center;
  }
}


/* TABS */

/* By default, show all images on the page */
/* With JS, this class is removed to */
/* allow tab functionality to take over */
.tab-pane-initial {
  display:block !important;
}
.tab-content h2 {
  display:none;
}
.tab-pane-initial .tab-pane-initial-header {
  display:block;
  text-align:right;
  position:relative;
  margin-top:-50px;
  bottom:-50px;
}
.tab-pane-initial-header span {
  padding-top:10px;
}




/* PAGE SPECIFIC */

body.page-about a {
}

.about-para {
  padding-top:2rem;
  padding-bottom:0rem;
  padding-left:2rem;
  padding-right:2rem;
}
.about-image {
  padding:2rem;
}
.about-contact {
  padding:.5rem 2rem;
}
.about-social {
  padding:.5rem 2rem;
}
.about-btn-list {
  list-style-type:none;
  margin:0;
  padding:0;
}
.about-btn-list li {
  display:block;
  float:left;
  background:#ddd;
  border-radius:.5rem;
  padding:.5rem;
  margin:.25rem;
  margin-left:0rem;
  text-align:center;
}
@media (max-width:575px) {
  .about-btn-list li {
    width:100%;
  }
}